@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Englebert);


.event-head
{
	background: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 80px !important;
}
.day-1,.day-2
{
	font-family: 'Bree Serif', serif;
	font-size: 20px!important;
	text-align: center;
	line-height:  12em;
	pointer-events: none;
}
.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.rb-grid li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
}

.rb-grid li.rb-span-2 {
	width: 49%;
}

.rb-grid li.rb-span-4 {
	width: 99%;
}

.rb-grid li h3 {
	font-size: 2.6em;
	font-weight: 100;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
	font-size: 10em;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 3;
	opacity: 0.4;
	text-align: right;
	pointer-events: none;
}

.rb-temp {
	display: block;
	font-size: 2em;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.rb-grid li:hover .rb-temp {
	opacity: 1;
}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.rb-week {
	width: 100%;
	height: 100%;
}

.rb-week > div {
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
	padding: 3% 0;
	
}

.rb-week > div:first-child {
	width: 40%;
	padding: 3% 0;
	
}

.rb-week > div:nth-child(2){
	overflow-y: scroll;
} 

.rb-week span {
	padding: 5% 0;
	font-size: 2em;
	font-weight: 100;
	display: block;
	margin: auto 0;
	height: 30%;
	width: 100%;
	line-height: 0.8;
}

.rb-week span.rb-city {
	font-weight: 700;
	padding: 1% 10%;
	font-size: 1em;
	line-height: 1;
	background: rgba(10,10,10,0.4);
}

.rb-week [class^="icon-"]:before {
	font-size: 2.5em;
	font-weight: normal;
}

.rb-week > div:first-child [class^="icon-"] {
	opacity: 0.1;
}

/* Colors */

/* Grid */
.rb-grid li:nth-child(1) { background: #6285ba; }
.rb-grid li:nth-child(2) { background: #619696; }
.rb-grid li:nth-child(3) { background: #996699; }
.rb-grid li:nth-child(4) { background: #647575; }
.rb-grid li:nth-child(5) { background: #14635f; }
.rb-grid li:nth-child(6) { background: #436d82; }
.rb-grid li:nth-child(7) { background: #87b587; }
.rb-grid li:nth-child(8) { background: #669999; }
.rb-grid li:nth-child(9) { background: #8a7a9b; }
.rb-grid li:nth-child(10) { background: #6285ba; }
.rb-grid li:nth-child(11) { background: #436d82; }
.rb-grid li:nth-child(12) { background: #647575; }
.rb-grid li:nth-child(13) { background: #666699; }
.rb-grid li:nth-child(14) { background: #609654; }
.rb-grid li:nth-child(15) { background: #996699; }
.rb-grid li:nth-child(16) { background: #14635f; }
.rb-grid li:nth-child(17) { background: #669999; }
.rb-grid li:nth-child(18) { background: #8a7a9b; }


/* Overlay Columns */
.rb-grid li:nth-child(1) .rb-week > div{ background: #6285ba; }
.rb-grid li:nth-child(2) .rb-week > div { background: #619696; }
.rb-grid li:nth-child(3) .rb-week > div { background: #996699; }
.rb-grid li:nth-child(4) .rb-week > div { background: #647575; }
.rb-grid li:nth-child(5) .rb-week > div { background: #14635f; }
.rb-grid li:nth-child(6) .rb-week > div { background: #436d82; }
.rb-grid li:nth-child(7) .rb-week > div { background: #87b587; }
.rb-grid li:nth-child(8) .rb-week > div { background: #669999; }
.rb-grid li:nth-child(9) .rb-week > div { background: #8a7a9b; }
.rb-grid li:nth-child(10) .rb-week > div { background: #6285ba; }
.rb-grid li:nth-child(11) .rb-week > div { background: #436d82; }
.rb-grid li:nth-child(12) .rb-week > div { background: #647575; }
.rb-grid li:nth-child(13) .rb-week > div { background: #666699; }
.rb-grid li:nth-child(14) .rb-week > div { background: #609654; }
.rb-grid li:nth-child(15) .rb-week > div { background: #996699; }
.rb-grid li:nth-child(16) .rb-week > div { background: #14635f; }
.rb-grid li:nth-child(17) .rb-week > div { background: #669999; }
.rb-grid li:nth-child(18) .rb-week > div { background: #8a7a9b; }

.event-wu p:nth-child(1)
{
	margin-top: 50px;
}

.event-wu p
{
	
	margin: 20px 40px 20px;
	letter-spacing: 2px;
	line-height:27px;
	font-size: 24px;
	font-family: 'Englebert', sans-serif; 
}


@media screen and (max-width: 63.125em) {
	
	.day-1,.day-2
	{
		text-align: center;
		line-height: 6em;
	}

	.rb-grid li,
	.rb-grid li.rb-span-2,
	.rb-grid li.rb-span-4 {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.rb-grid li[class^="icon-"]:before,
	.rb-grid li[class*=" icon-"]:before {
		font-size: 6em;
		left: auto;
		right: 0;
		line-height: 2.5;
	}

	.rb-grid li > div {
		text-align: center;
	}
}
@media screen and (max-width: 1024px) 
{
	
}
@media screen and (max-width: 768px) 
{
   .event-head
   {
   	margin-bottom: 50px;
   }
    
}
@media screen and (max-width: 350px) 
{
   .event-head
   {
   	font-size: 70px!important;
   }
   
}